default_install_hook_types: [pre-commit]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: no-commit-to-branch
    -   id: check-json
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: ^(docs/|data/)
    -   id: trailing-whitespace
        exclude: ^(docs/|data/)

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.11
    hooks:
    - id: ruff-check
      args: [ --fix ]
    - id: ruff-format

-   repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.8.14
    hooks:
      - id: uv-lock
