name: release please

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v5
        with:
          submodules: true

      - name: make scripts executable
        run: chmod +x .github/scripts/pack.sh .github/scripts/upload.sh

      - name: create release
        uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: python

      - name: compress tutorial cases
        run: .github/scripts/pack.sh

      - name: upload release artifacts
        if: ${{ steps.release.outputs.release_created }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: .github/scripts/upload.sh ${{ steps.release.outputs.tag_name }}
